@import "colors.less";
@import "fonts.less";

body {
	background-color: @background-def;
	background-image: url(../img/BackSpace.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	font-family: 'Bebas Neue';
}

.wrapper {
	position: relative;
	max-width: 1600px;
	height: 100vh;
	margin: 0 auto;
}

.wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: @black-light;
}

.head {
	height: 100px;
	padding: 25px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: @black-light;
}

.head-wrapper {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.head-brand {
	display: block;
	height: 50px;
	margin-right: 25px;
	box-sizing: border-box;
	text-decoration: none;
	z-index: 2;
	transition: transform ease 0.5s, border ease 0.5s;
	&:hover {
		transform: scale(1.05);
	}
}

.head-title {
	width: 384px;
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: @white;
	z-index: 2;
}

.head-nav {
	z-index: 2;
}

.head-nav-list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}

.head-nav-item {
	margin-left: 30px;
	&:first-child {
		margin: 0;
	}
}

.head-nav-link {
	display: block;
	text-decoration: none;
	color: @white;
	transition: color ease 0.5s, transform ease 0.5s;
	&:hover {
		transform: scale(1.1);
		color: @hover-link;
	}
}