@import "colors.less";
@import "fonts.less";

body {
  margin: 0;
  padding: 0;
  background-color: @background-def;
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: 'Bebas Neue';
}

.wrapper {
  position: relative;
  height: 100vh;
  margin: 0 auto;
  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0 25px 0 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @black-dark;
  z-index: 2;
  &-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  &-brand {
    display: block;
    height: 50px;
    margin: 0 25px 0 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    transition: transform ease 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &-title {
    width: 384px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: @white;
  }
  &-nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
  &-nav-item {
    margin: 0 0 0 10px;
    &:first-child {
      margin: 0;
    }
  }
  &-nav-link {
    display: block;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    outline: none;
    color: @white;
    transition: color ease 0.5s, background-color ease 0.5s;
    &:hover {
      color: @black;
      background-color: @white-light-link;
    }
  }
}

.main {
  position: relative;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  z-index: 1;
}

#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    list-style-type: none;
    padding: 0;    
}

.hex {
    position: relative;
    visibility:hidden;
    outline:1px solid transparent; 
}

.hex::after {
    content:'';
    display:block;
    padding-bottom: 86.602%; 
}

.hexIn {
    position: absolute;
    width:96%;
    padding-bottom: 110.851%; 
    margin:0 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; 
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}

.hexIn * {
    margin: 0;
    padding: 0;    
    position: absolute;
    visibility: visible;
    outline:1px solid transparent;
    background-color: rgba(255, 255, 255, 0.7);
}

.hexLink {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    transition: background-color ease 1s;
    &:hover {
      background-color: @black-light-link;
    }
    &:hover .hexImage-path {
      fill: @white-light-link;
    }
    &:hover .hexTitle {
      color: @white-light-link;
    }
}

.hexImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -25% 0 0 0;
  width: auto;
  height: 40%;
  font-size: 30%;
}

.hexImage {
  height: 100%;
  background-color: transparent;
}

.hexImage-path {
  transition: fill ease 0.5s;
  fill: @black;
}

.hexTitle {
  margin: 55% 4% 0 4%;
  font-weight: 900;
  font-size: 99%;
  letter-spacing: 0.12rem;
  background-color: transparent;
  transition: color ease 0.5s;
}

.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 25px;
  z-index: 2;
  &-niac-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;
    transition: transform ease 0.5s;
    &:hover {
      transform: scale(1.1);
    }
    &:hover .foot-niac-icon {
      fill: @white-light-link;
    }
    &:hover .foot-niac-icon-text {
      fill: @white-light-link;
    }
  }
  &-niac-icon {
    fill: @white;
    transition: fill ease 0.5s;
  }
  &-niac-icon-text {
    fill: @white;
    transition: fill ease 0.5s;
  }
}

@import "media.less";